<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinize"
      <label> Enter Text Here:<input type="text" name="text"></lable><br/>
      <label> <input type="submit" id="submit"><label><br/>

  </body>
</html>
